<div class="container" >
  <h1>つぶやき一覧</h1>  <p class="new_tweet"><%= link_to "つぶやく", new_post_path %></p>
    <table class="index_table" >
      <% @post.each do |post| %>
       <tr>
        <td><%= post.content%></td>
        <td><%= link_to "詳細", post_path(post.id) %></td>
        <td><%= link_to "編集", edit_post_path(post.id) %></td>
        <td><%= link_to "削除", post_path(post.id), method: :delete %></td>
       </tr>
      <% end%>
    </table>
</div>